
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shard style */
.display-flex{
  display: flex;
}

.text-color-dark02{
  color: #424242;
}

.text-color-dark03{
  color: #727272;
}
.text-color-oring{
  color: #FF900E;
}

.section-header{
  font-size: 2.9rem;
  font-weight:bold;
  max-width: 460px;
}

.section-parragraph{
  font-size: 1rem;
}

.btm-primary{
  background-color: #FF900E;
  color: #ffffff;
  padding: 20px 25px;
  font-weight: 600px;
  font-size: 1.2rem;
  border-radius: 8px;
  border:none;
}


main{
  max-width: 1440px;
  margin: 0 auto;
}


main>section{
   margin-top: 86px;
}


/* header style */
header{
  background-color:rgba(255, 144, 14, 0.1);
  display: ;
}

/* nav style */
.nav-container{
  justify-content: space-between;
  align-items: center;
}

.brind{
  font-size: 2.75rem;
  font-weight: bold;
}

.link{
  text-decoration: none;
}

.menu{
  list-style: none;
  margin-right: 50px;
}

.nav-container,.banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner style */

.banner-container{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

.banner-header{
  font-size: 4rem;
  font-weight: bold;
}

.banner-description{
  font-size: 1rem;
}

.banner-img{
  padding-bottom: 60px;
}

/* featues style */
.features-img-containe{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  border-radius: 8px;
}

.Quick-list{
  font-weight: 500;
}

.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card{
  border: 1px solid #FF900E;
  border-radius: 8px;
  width: 241px;
  height: 241px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fact-number{
  font-size: 2.5rem;
  font-weight: 600;
  margin: 10px 0;
}

.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin: 5px 0;
}





@media screen and (max-width:576px) {
  .nav-container,.menu-container{
    flex-direction: column;
    text-align: center;
  }

.menu{
  margin-bottom: 10px;
}
.banner-img{
  width: 100%;
}

/* features style */
.features-section{
  display: block;
  text-align: center;
  width: 95%;
}

.features-img-containe{
  grid-template-columns: repeat(1,1fr);
}


}